extends layout.pug
block content
  main
    h1(data-testid="todo-count") You have #{todos.length} todo#{todos.length === 1 ? '' : 's'}
    each todo in todos
      table
        tr
          td
            input(type="checkbox" name="todo" hx-post=`/todos/${todo.id}/done`, hx-target="body")
          td(data-testid="todo-title")=todo.description
    form(action="/todos" method="post")
      textarea(name="description" placeholder="Description" aria-invalid=(flash.errors.description ? 'true' : ''))=flash.old.description
      if flash.errors.description
        small(data-testid="todo-error")=flash.errors.description
      button(type="submit") Add new todo
